{% extends 'base.html' %}
{% block title %}New Tag Form{% endblock %}

{% block content %}
<h1>Create a tag</h1>
<form method="POST">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type='text' class='form-control' name="name" id='name'>
        </div>
    </div>
    {% if posts %}
    <br>
    <div>
        {% for post in posts %}
        <input type="checkbox" id="{{post.id}}" name="posts" value="{{post.id}}">
        <label for="{{post.id}}">{{post.title}}</label><br>
        {% endfor %}
    </div><br>
    {% endif %}
    <div class="form-group row">
        <div class="ml-auto mr-3">
            <a href="/tags" class="btn btn-outline-info">Cancel</a>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>
</form>
{% endblock %}